body{

}

#subHeader >button{
    display:none;
}

#mobile-icon{
    display:block;
}

#temp1{
    min-width:50px;
    width:20%;
    padding-left:1%;
    padding-right:auto;
    position:static;
}
#temp2{
    width:70%;
    position:static;
}
























